<input type="hidden" name="Id" value="@ViewData["Id"]" />
<div>
    @Html.ActionLink("Профиль", "Profile", new { Id = @ViewData["Id"] })
</div>
<div>
    @Html.ActionLink("Изменить профиль", "Edit", new { Id = @ViewData["Id"] })
</div>
<div>
    @Html.ActionLink("Дисциплины", "Index", "Homework", new { Id = @ViewData["Id"] })
</div>