@model ADO.NET.Models.TeacherModel

    <input type="hidden" name="Id" value="@ViewData["Id"]" />

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.experience)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Id = @ViewData["Id"] })
    @Html.ActionLink("Back to List", "Index", new { Id = @ViewData["Id"] })
</p>
